<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.astrid.widgetbar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <permission
        android:name="org.astrid.widgetbar.permission.WRITE_SETTING"
        android:label="@string/perm_write"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="org.astrid.widgetbar.permission.READ_SETTING"
        android:label="@string/perm_read"
        android:permissionGroup="android.permission-group.SYStEM_TOOLS"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <use-permission android:name="android.permission.RECEIVE_BOOT_COMPLETE" />
    <use-permission android:name="android.permission.VIBERATE" />
    <use-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <use-permission android:name="org.astrid.widgetbar.permission.READ_SETTINGS" />
    <use-permission android:name="org.astrid.widgetbar.permission.WRITE_SETTINGS" />

    <application
        android:name=".widgetBarApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".WidgetBarActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="WidgetbarService" >
            <intent-filter>
                <action android:name="org.astrid.intent.action.WigetbarService" >
                </action>
            </intent-filter>
        </service>

        <receiver
            android:name="org.astrid.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".model.WidgetbarProvider"
            android:authorities="org.astrid.widgetbar.settings"
            android:readPermission="org.astrid.widgetbar.permission.READ_SETTINGS"
            android:writePermission="org.astrid.widgetbar.permission.WRTIE_SETTINGS" />
    </application>

</manifest>